/**
 * @name Yeat
 * @version 1.0.0
 * @description Twizzy Rich
 * @author LaloEhrmantraut
 */

/* All of the code are taken from Vencord Discord server */

/* thing */
.userPopoutOverlayBackground-3A0Pcz {
  max-height: 60vh;
}

/* spotify thing */
@import url(https://anubisnekhet.github.io/discordCSS/couveSpotify.css);
:root {
  --spotify-color: var(--brand-experiment); /* brand-experiment */
  --spotify-bg-color: var(--background-tertiary); /* background-tertiary */
  --spotify-text-color: var(--header-primary); /* header-primary */
  --spotify-subtext-color: var(--text-normal); /* text-normal */
  --gradient-start-opacity: 0.6;
  --gradient-end-opacity: 0.3;
}
